<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../../public/css/style.css">
  	<link rel="stylesheet" href="http://cdn.metalab.csun.edu/metaphor/css/metaphor.css">
	<meta charset="UTF-8">
	<title>Supplemental Secuirity Income</title>
</head>
<body>
	<br>
	<!-- Accordion -->
  	<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <h3>Here is a step by step guide on how to apply for Supplemental Security Income. Start by bookmarking this page so that it's easy to get to later. If you encounter any issues, annoyances or just want to give some pointers, let me know! </h3>
          <h4>-Brian</h4>
          <dl class="accordion">
            <dt class="accordion__header"> Step 1: Benefit Screening Tool</dt>
            <dd class="accordion__content">
              <p>Navigate to this website: <a href="https://ssabest.benefits.gov/" target ="_blank"><u>Benefit Screening Tool</u></a> Click "START QUESTIONAIRE" and complete it. Carefully read what it's about as well.</p>
            </dd>
            <dt class="accordion__header">Step 2: Prepare to Apply for SSI Benefits</dt>
            <dd class="accordion__content">
            	<ul>
            		<li><p>Navigate to this website <a href="https://www.ssa.gov/ssi/text-apply-ussi.htm" target="_blank"><u>Understanding SSI</u></a>.</p></li>
            		<li><p>Read the section under "HOW TO APPLY FOR SSI BENEFITS" (The rest is not necessary)</p></li>
            		<li><p>Click the link that says "Apply Online for Disability Benefits".</p></li>
            	</ul>
            </dd>
            <dt class="accordion__header"> Step 3: Apply for SSI</dt>
            <dd class="accordion__content">
              <p>You should now be on this page: <a href="https://www.ssa.gov/disabilityssi/" target="_blank"><u>Apply For SSI</u></a>. Scroll down and navigate to the button that says "Apply for Disability".
              <p>On the <a href="https://secure.ssa.gov/iClaim/dib" target="_blank">Apply For Benefits</a> website,
              click the blue text that reads "requirements to apply online for Disability". Once there, follow the directions for the first four dropdown sections. (The rest are not necessary)</p>
              <p>Then click the blue text that reads "Gather the information you need" to view the necessary documents. When you have everything ready, navigate back to the Apply For Benefits Page and click the "Start a New Application" button</p>
            </dd>
            <dt class="accordion__header"> Step 4: Finish up</dt>
            <dd class="accordion__content">
              <p>Once your application is complete, you're done! Well, you can visit a Social Security office just in case. Here's one I found the easiest to get to: </p>
              <h3>US Social Security Administration</h3>
              <p>Address:
              	<a href="https://www.google.com/maps/place/14500+Roscoe+Blvd+%23207,+Panorama+City,+CA+91402/@34.2211722,-118.4514028,17z/data=!3m1!4b1!4m5!3m4!1s0x80c290d2d29a0647:0xb0c29d90131f1017!8m2!3d34.2211722!4d-118.4492141" target="_blank">
              	 <u> 14500 Roscoe Blvd #207, Panorama City, CA 91402</u></p>
              </a>
              <p>Phone: (800) 772-1213</p>
              <ul>
              	<li>Monday: 9:00am to 4:00pm</li>
              	<li>Tuesday: 9:00am to 4:00pm</li>
              	<li>Wednesday: 9:00am to 12:00pm</li>
              	<li>Thursday: 9:00am to 4:00pm</li>
              	<li>Friday: 9:00am to 4:00pm</li>
              	<li>Saturday: Closed</li>
              	<li>Sundaday: Closed</li>
              </ul>
              <p>You can do either appointment or walk in, if you don't mind the extra wait.</p>
            </dd>
          </dl>
        </div>
      </div>
    </div>



	<script src="http://cdn.metalab.csun.edu/metaphor/js/metaphor.js"></script>
</body>
</html>